body {
    font-family: Arial, sans-serif;
    background-color: #1e1e1e;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    background-image: url("/static/b3.png"); /* Imagen de textura granular */
    background-size: cover; /* Imagen ajustada al fondo */
    background-repeat: no-repeat; /* No repetir la imagen */
    background-position: center; /* Centro de la imagen */
    background-attachment: fixed; /* Imagen fija al fondo */
}

.container {
    text-align: center;
    padding: 2rem;
    background-color: rgba(30, 30, 30, 0.9);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    color: #ffffff;
}

p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: #ffffff;
}

form {
    margin-bottom: 1rem;
}

input {
    padding: 0.5rem;
    margin: 0.5rem 0;
    border: none;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    background-color: #282828; /* Color de fondo para el input */
    color: #ffffff; /* Color del texto para el input */
}

button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    background-color: #ff5c5c;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #ff0000;
}

.predictions {
    margin-top: 1rem;
    background-color: rgba(30, 30, 30, 0.9);
    padding: 1rem;
    border-radius: 5px;
    border: 2px solid white;
    position: relative;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* Sombra sutil */
}

.predictions h2 {
    margin: 0;
    font-size: 1.2rem;
    color: #ffffff;
}

.predictions ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.predictions li {
    background-color: #282828;
    margin: 0.5rem 0;
    padding: 0.5rem;
    border-radius: 5px;
    color: #ffffff;
}

footer {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    color: #ffffff;
    font-size: 0.8rem;
}

/* Se ha eliminado el ::before y ::after  */
